.header{
    position: relative;
    .header__container{
        background-color: $soft-violet;
        overflow: hidden;
        height: 270px;
        .header__image{
            width: 100%;
            height: 270px;
            object-fit: cover;
            opacity: 0.4;
        }
    }
}

@media only screen and (min-width:$desktop) {
    .header{
        width: 50%;
        .header__container{
            height: 100%;
            .header__image{
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 0.4;
            }
        }
    }
}